@font-face {
	font-family: 'Inter';
	src: local('Inter'),
		url('./assets/fonts/Inter-Regular.ttf') format('truetype'),
		url('./assets/fonts/Inter-Regular.woff2') format('woff2');
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: local('Inter'),
		url('./assets/fonts/Inter-SemiBold.ttf') format('truetype'),
		url('./assets/fonts/Inter-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: local('Inter Bold'),
		url('./assets/fonts/Inter-Bold.ttf') format('truetype'),
		url('./assets/fonts/Inter-Bold.woff2') format('woff2');
	font-weight: bold;
	font-display: swap;
}

$f-size-title: 1.25rem;
$f-size-normal: 1rem;
$f-size-tab-text: 0.875rem;
$f-size-label: 0.75rem;

$wrapper-width: 33.5rem;
$wrapper-height: 28rem;
$f-color-primary: #E5E7EB;
$f-color-label: #A1A1A9;
$f-color-placeholder: #4D5562;

$b-color-body: #121826;
$b-color-card: #212936;
$b-color-input: #394150;

$button-color-normal: #652CD1;
$button-color-checked: #845EEE;

$border-color-error: #9D2417;
$padding: 1rem;

@mixin reset-styles($btn) {

  @if $btn{
		cursor: pointer;
	}

	appearance: none;
	background-color: unset;
	border: none;
}

@mixin font-style($f-size, $f-color, $f-weight) {
	color: $f-color;
	font-size: $f-size;
	font-weight: $f-weight;
}

@mixin hover() {
	&:hover:not([disabled]){
		@content;
	}
}

@mixin transitions($transitions, $time, $easing) {
	$result: ();

	@for $i from 1 through length($transitions) {
		$result: append($result, nth($transitions, $i) $time $easing, comma);
	}
	transition: $result;
}

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: inherit;
	font-family: inherit;
}

body {
	font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color: $b-color-body;
	color: $f-color-primary;
	line-height: 1.5;
	letter-spacing: 0.020rem;
	overflow: hidden;
	height: 100svh;
}

.shine{
	position: absolute;
	z-index: -1;

	&.shine-left{
		left: -25%;
		top: -40%;
	}

	&.shine-right{
		right: -25%;
		bottom: -40%;
	}

}

.main{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.wrapper__option,
.wrapper__button{
	@include reset-styles(true);
}

.wrapper__step{
	@include reset-styles(false);
}

.wrapper__card{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: min($wrapper-width, 85vw);
	background-color: $b-color-card;
	border: 2px solid $b-color-input;
	border-radius: .8rem;
	padding: 3rem;

	.wrapper__forms{
		position: relative;
		min-width: 100%;

		.wrapper__form{
			display: flex;
			flex-direction: column;
			margin: 2rem 0;
			min-height: 12.25rem;
			opacity: 1;
			@include transitions((transform, opacity), 250ms, ease-in);

			&.hidden{
				position: absolute;
				visibility: hidden;
				top: 0;
				transform: translateX(100%);
				opacity: 0;
				transition: unset;
			}
		}
	}

	.wrapper__button{
		background-image: linear-gradient($button-color-checked, $button-color-normal);
		@include font-style($f-size-label, inherit, 600);
		min-width: 8rem;
		min-height: 2.5rem;
		border-radius: 3rem;
		transition: opacity 150ms ease-in, transform 100ms ease-in;
		align-self: center;

		&[disabled]{
			opacity: .6;
		}

		&:not([disabled]):active{
			transform: scale(.95);
		}

		&.hide{
			display: none;
		}
	}
}

.wrapper__label{
	display: block;
	margin-bottom: .5rem;
	align-self: flex-start;
	font-size: $f-size-tab-text;
	@include font-style($f-size-label, $f-color-label, 600)
}

.wrapper__input__container{
	width: 100%;
	border: 2px solid $f-color-placeholder;
	border-radius: .6rem;
}

.wrapper__input__container + *{
	margin-top: 1.5rem;
}

.wrapper__input{
	outline: none;
	padding: 1rem .8rem;
	width: 100%;

	@include reset-styles(false);
	@include font-style($f-size-label, $f-color-label, bold);

	&::placeholder{
		@include font-style(inherit, rgb($f-color-label, .6), 600);
	}
}

.wrapper__option{
	background-color: $b-color-input;
	@include font-style($f-size-tab-text, rgb($f-color-label, .8), 600);
	padding: 1rem .8rem;
	border: 2px solid $f-color-placeholder;
	border-radius: .8rem;
	text-align: left;
	@include transitions((opacity, background-color, border-color), 200ms, ease-in-out);

	&.selected{
		@include font-style($f-size-tab-text, $f-color-primary, 600);
		background-color: $button-color-normal;
		border-color: $button-color-checked;
	}
}

.wrapper__option:not(.selected),
.wrapper__button{
	@include hover{
		opacity: .8;
	};
}

.wrapper__option + .wrapper__option{
	margin-top: 1rem;
}

.summary__user-info{
	margin-bottom: 1.2rem;

	& p + p{
		margin-top: .8rem;
	}
}

.wrapper__form-summary{
	@include font-style(inherit, inherit, bold);

	& * span{
		@include font-style(inherit, $f-color-label, 400);
	}

	& * li{
		margin-left: 1.5rem;
	}
}

.wrapper__actual-step{
	@include font-style($f-size-label, rgb($f-color-placeholder, .6), 600);
}

.wrapper__steps{
	display: flex;
	align-items: center;
	margin-top: 1rem;
	margin-left: 25%;

	.wrapper__steps__buttons{
		display: flex;
		margin-left: 1.5rem;
		align-items: center;

		.wrapper__step{
			background-color: $b-color-input;
			display: inline-block;
			padding: .35rem .35rem;
			border-radius: 2rem;
			transition: opacity 150ms ease-in;

			&.actual{
				background-color: $button-color-checked;
				box-shadow: 0 0 0 5px rgba($button-color-checked, .3);
			}

			&.passed{
				background-color: $button-color-checked;
			}

			&+.wrapper__step{
				margin-left: 1rem;
			}
		}
	}
}
